div {
  width: 100%;
}

#login h5 {
  text-align: center;
}
#main-title {
  font-family: "Pacifico", cursive;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

#login {
  margin: auto;
  width: 60%;
  vertical-align: middle;
}

.container {
  max-width: 1000px;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.movie-card-container {
  margin: 0;
}

.mainNav {
  width: 100%;
  background-color: #e7717d;
  top: 0;
  z-index: 9;
  display: flex;
}

.nav-button {
  background: gray;
  color: beige;
  border: 1px solid darkgray;
  padding: 0px 5px;
}

.nav-button:hover {
  background: beige;
  color: gray;
  border: 1px solid #ffe4c4; // Bisque
  padding: 0px 5px;
}

#main-logo {
  font-family: "Pacifico", cursive;
  color: #111;
}
