div {
  width: 100%;
}

#login h5 {
  text-align: center;
}
#main-title {
  font-family: "Pacifico", cursive;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

#login {
  margin: auto;
  width: 60%;
  vertical-align: middle;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
} 

.movie-card-container{
  padding-top: 60px;
}

.mainNav {
  width: 100%;
  background-color: #E7717D;
  top: 0;
  z-index: 9;
}


#main-logo {
  font-family: "Pacifico", cursive;
  color: #111;
}
