#main-title {
  text-align: center;
}

div {
  width: 100%;
}

#login h5 {
  text-align: center;
}
#main-title {
  font-family: "Pacifico", cursive;
  padding-top: 50px;
  padding-bottom: 20px;
}

#login {
  margin: auto;
  width: 50%;
  vertical-align: middle;
}

.main-view {
  padding-top: 60px;
}
