@media all and (min-width: 480px) {
  .Login {
    padding: 30px;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.login-register-button Button {
  max-height: 40px;
  width: 100%;
}

.login-register-button p {
  text-align: center;
  margin-top: 20px;
}
