@media all and (min-width: 480px) {
  .Login {
    padding: 30px;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.login-register-button{
  display: flex;
  justify-content: space-between;
  max-height: 40px;
}

.or{
  text-align: center;
}
