 .nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
} 

.mainNav {
  width: 100%;
  background-color: #E7717D;
  top: 0;
  z-index: 9;
}


#main-logo {
  font-family: "Pacifico", cursive;
  color: #111;
}
