$color: steelblue;

html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Spartan", sans-serif;
  background-color: #FFFAF0
}

Container {
  margin: 0;
  padding: 0;
}

.my-flix {
  color: $color;
}
